<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ux32vd.geofunny">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logosementara3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logosementara3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuUtama" />
        <activity android:name=".TentangKami" />
        <activity android:name=".MenuBangunDatar" />
        <activity android:name=".MenuBangunRuang" />
        <activity android:name=".RecyclerViewBangunDatar" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".HitungPersegi" />
        <activity android:name=".HitungPersegiPanjang" />
        <activity android:name=".HitungLingkaran" />
        <activity android:name=".HitungSegitiga" />
        <activity android:name=".HitungTrapesium" />
        <activity android:name=".HitungJajarGenjang" />
        <activity android:name=".HitungBelahKetupat" />
        <activity android:name=".HitungLayangLayang" />
        <activity android:name=".HitungKubus" />
        <activity android:name=".HitungBalok" />
        <activity android:name=".HitungLimas" />
        <activity android:name=".HitungPrisma" />
        <activity android:name=".HitungTabung" />
        <activity android:name=".HitungBola" />
        <activity android:name=".HitungKerucut"></activity>
    </application>

</manifest>